<link rel="stylesheet" type="text/css" href="/stylesheets/home.css" />


<header>
  <div id="flextitude">
    <nav>
      <ul>
        <h1>Basil 🌿</h1>
        <button class="logIn" type="button">Log in or sign in</button>
        <a href="/users/login">Lien bidon pour log</a>
      </ul>
    </nav>
  </div>
</header>

<div>
  <img src="/images/undraw_meditating_0nae (1).png" class="image" height="50%" width="50%" />
  <h2>Live healthier, pay less</h2>
  <p>
    Basil is the first health insurance that allows you to pay less as your
    well-being increases.
  </p>
</div>

<div>
  <img src="/images/undraw_healthy_options_sdo3.png" class="image" height="50%" width="50%" />
  <h2>Everyone has the right to be healthy</h2>
  <p>
    Your employer is committed to your health and each of you has a
    personalized program to suit your lifestyle.
  </p>
  <p>
    Find your balance between mind, body and soul by taking advantage of the
    intervention of wellness professionals in your workplace and during your
    working hours.
  </p>
</div>

<div>
  <img src="/images/undraw_activity_tracker_1l9o.png" class="image" height="50%" width="50%" />
  <h2>Get better, faster</h2>
  <p>
    Check your progress and see how your well-being increases thanks to our
    mobile application
  </p>
</div>