<link rel="stylesheet" type="text/css" href="/stylesheets/login.css" />

<nav>
  <a href="/" class="title">
    <h2>🌿 Basil</h2>
  </a>
  <a href="/users/signup" class="signup">Sign up</a>
</nav>

<div class="presentation">
  <h2>Log in 🦥</h2>
  <h3>to check your wellness dashboard</h3>
  <img src="/images/undraw_mobile_login_ikmv.png" class="image" height="25%" width="25%" />
  <p>
    Enjoy your personal programm, see your progress and take advantages from your healthier lifestyle
  </p>
  <form action="/users/login" method="post" class="form">

    <label for="mail">
      <h3>Email:</h3>
    </label>
    <div className="field">
      <div className="control">
        <input class="champ" type="text" name="email" placeholder="dalai@lama.org" />
      </div>
    </div>

    <label for="password">
      <h3>Password:</h3>
    </label>
    <div className="field">
      <div className="control">
        <input class="champ" type="password" name="password" placeholder="pa$$w0rd" />
      </div>
    </div>

    <a href="/users/profile"><button class="loginbutton" type="submit">Log In</button></a>
    {{!-- </button> --}}
    <p>Not registered yet ? Sign up <a href="/users/signup">here</a></p>
  </form>
</div>