<link rel="stylesheet" type="text/css" href="/stylesheets/login.css" />

{{!-- <header> --}}
{{!-- <div id="flextitude"> --}}
<nav>
  {{!-- <ul> --}}
  <a href="/" class="title">
    <h2>🌿 Basil</h2>
  </a>

  <a href="/users/signup" class="signup">Sign up</a>

  {{!-- </ul> --}}
</nav>
{{!-- </div> --}}
{{!-- </header> --}}

<div class="presentation">
  {{!-- <h3>***</h3> --}}
  <h2>Log in 🦥</h2>
  <h3>to check your wellness dashboard</h3>
  <img src="/images/undraw_mobile_login_ikmv.png" class="image" height="25%" width="25%" />
  <p>
    Enjoy your personal programm, see your progress and take advantages from your healthier lifestyle
  </p>
  <form action="/users/login" method="post" class="form">

    <label for="mail">
      <h3>Email:</h3>
    </label>
    {{!-- <input type="email" id="mail" name="email" /> --}}
    <div className="field">
      <div className="control">
        <input class="champ" type="text" name="username" placeholder="dalai@lama.org" />
      </div>
    </div>

    <label for="password">
      <h3>Password:</h3>
    </label>
    <div className="field">
      <div className="control">
        <input class="champ" type="text" name="password" placeholder="pa$$w0rd" />
      </div>
    </div>
    {{!-- <input id="password" name="password" type="password"></input> --}}
    {{!-- <h6>Forgot your password ? Bad luck 😕</h6> --}}

    {{!-- <button class="button"> --}}
    <button class="loginbutton">Log In</button>
    {{!-- </button> --}}
    <p>Not registered yet ? Sign up <a href="/users/signup">here</a></p>
  </form>
</div>