<link rel="stylesheet" type="text/css" href="/stylesheets/signup.css" />

<nav>
  <a href="/" class="title">
    <h2>🌿 Basil</h2>
  </a>
  <a href="/users/login" class="login">Log in</a>
</nav>

<div class="presentation">
  <h2>Sign up 🦥</h2>
  <h3>to create an account and wellness dashboard</h3>
  <img src="/images/undraw_sign_in_e6hj.png" class="image" height="25%" width="25%" />
  <p>
    Enjoy your personal programm, see your progress and take advantages from your healthier lifestyle
  </p>
  <form action="/users/signup" method="post" class="form">


    <label for="firstname">
      <h3>Firstname:</h3>
    </label>
    <div className="field">
      <div className="control">
        <input class="champ" type="text" name="firstname" placeholder="Monica" />
      </div>
    </div>

    <label for="lastname">
      <h3>Lastname:</h3>
    </label>
    <div className="field">
      <div className="control">
        <input class="champ" type="text" name="lastname" placeholder="Geller" />
      </div>
    </div>

    <label for="mail">
      <h3>Email:</h3>
    </label>
    <div className="field">
      <div className="control">
        <input class="champ" type="text" name="email" id="name" placeholder="dalai@lama.org" />
      </div>
    </div>

    <label for="password">
      <h3>Password:</h3>
    </label>
    <div className="field">
      <div className="control">
        <input class="champ" type="password" name="password" placeholder="pa$$w0rd" />
      </div>
    </div>

    {{#if error}}
    <span style="color:red;font-style:italic;text-align:center">{{{ error }}}</span>
    {{/if}}

    <button class="loginbutton" type="submit">Sign up</button>

    <p>Already have an account ? Log in <a href="/users/login">here</a></p>
  </form>
</div>