html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #729a99;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  list-style-type: none;
}

nav {
  background-color: #364858;
  color: white;
  display: flex;
  justify-content: space-between;
  height: min-content;
}

@media (min-width: 1000px) {
  nav {
    padding: 0 1em;
  }
}

.title {
  text-align: center;
}

.logout {
  margin-top: 4vh;
  margin-right: 2vh;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.presentation {
  background-color: white;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
  margin-top: 2em;
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

.paragraph {
  text-align: center;
  padding-left: 5vh;
  padding-right: 5vh;
  color: grey;
}

.table {
  text-align: center;
  font-weight: bold;
}

.form {
  text-align: center;
}

.rate {
  color: red;
}

.loginbutton {
  background-color: #729a99;
  border-radius: 28px;
  border: 1px solid #729a99;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 12px;
  margin-top: 4vh;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}

.loginbutton:hover {
  background-color: #729a99;
}

.loginbutton:active {
  position: relative;
  top: 1px;
}

#footer {
  background-color: #364858;
  text-align: center;
  color: white;
  padding: 1.5vh;
}

header {
  position: relative;
}

table {
  border-collapse: collapse;
  color: darkgray;
  font-weight: lighter;
}

td,
th {
  border: 1px solid black;
  border-color: #f6c9c8;
  color: #92a8d1;
  width: 120px;
  height: 40px;
}
